{%extends 'base.html'%}
{% load static %}

{%block style%}
    <link rel="stylesheet" href="{%static 'client_application/css/permit-application.css'%}">
    <script type="module" src="{%static 'client_application/js/permit-validation.js'%}" defer></script>
    
{%endblock%}

{%block title%}
Permit Application
{%endblock%}

{%block content%}

{%include 'side-bar.html'%}
<div class="container">
    
    <form action="" id="main-form" method="POST">
        {%csrf_token%}
        <div class="container-header-content">
            <div class="title">
                PERMIT APPLICATION FORM
            </div>
        </div>
        <div class="content" first>
            <div class="content-header-box">
                Busines Information and Registration
            </div>
            <div class="content-body-box">
                {%for field in business_information_registration%}
                    <div class="form-group">
                        {{field}}
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class = "input-msg">This field is required</div>
                    </div>  
                {%endfor%}
                
                <div class="form-group-select">
                    <label for="{{application_form.business_type.auto_id}}">{{application_form.business_type.label}}</label>
                    <div class="select-wrapper">
                        <!-- <select name="business_type" id="business_type_id" required>
                            <option value="1">Sole Proprietorship</option>
                            <option value="2">Partnership</option>
                            <option value="3">Corporation</option>
                            <option value="4">Cooperative</option>
                        </select> -->
                        {{application_form.business_type}}
                    <span class="custom-arrow"></span>
                    </div>
                    
                </div>
        
                <div class="form-group-select">
                    <label for="{{application_form.corporation_type.auto_id}}">{{application_form.corporation_type.label}}</label>
                    <div class="select-wrapper">
                        <!-- <select name="corporation_type" id="id_corporation" disabled>
                            <option value="1">Filipino</option>
                            <option value="2">Foreign</option>
                            
                        </select> -->
                        {{application_form.corporation_type}}
                    <span class="custom-arrow"></span>
                    </div>
                    
                </div>

                

            </div>
        </div>
        <div class="content" second>
            <div class="content-header-box">
                Business Address
            </div>
            <div class="content-body-box">
                {%for field in business_address%}
                    <div class="form-group">
                        {{field}}
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class = "input-msg">This field is required</div>
                    </div>  
                {%endfor%}
            </div>


        </div>
        <div class="content" third>
            <div class="content-header-box">
                <span>Taxpayer's or Registrant</span> Name
            </div>
            <div class="content-body-box">
            
                {%for field in owner_information%}
                    <div class="form-group">
                        {{field}}
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class = "input-msg">This field is required</div>
                    </div>  
                {%endfor%}
                <div class="form-group-select">
                    <label for="{{application_form.sex.auto_id}}">{{application_form.sex.label}}</label>
                    <div class="select-wrapper">
                        
                        <!-- <select name="sex" id="id_sex" required>

                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            
                        </select> -->
                        {{application_form.sex}}
                    <span class="custom-arrow"></span>
                    </div>
                </div>

                
            <div class="contact-details-box">
                {%for field in contact_details%}
                    <div class="form-group">
                        {{field}}
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class = "input-msg">This field is required</div>
                    </div>
                {%endfor%}
            </div>
                
                
                <div class="form-group-check-box">
                    <label for="{{application_form.owned.auto_id}}">{{application_form.owned.label}}</label>
                    {{application_form.owned}}
                </div>
                
                
            </div>

        </div>
        <div class="content" fourth>
            <div class="content-header-box">
                <span>Business Operations</span>
            </div>
            
            <div class="content-body-box">
                <div class="check-boxes">
                    {%for field in business_check_boxes%}
                        <div class="form-group-check-box">
                            <label for="{{field.auto_id}}">{{field.label}}</label>
                            {{field}}
                            
                        </div>  
                    {%endfor%}
                </div>
                {%for field in business_operation%}
                    <div class="form-group">
                        {{field}}
                        <label for="{{field.auto_id}}">{{field.label}}</label>
                        <div class = "input-msg">This field is required</div>
                    </div>  
                {%endfor%}
                <div class="employee-count">
                    <div class="label-div">No. of employees</div>
                    {%for field in employee_count%}
                        <div class="form-group">
                            {{field}}
                            <label for="{{field.auto_id}}">{{field.label}}</label>
                            <div class = "input-msg">This field is required</div>
                        </div>  
                    {%endfor%}
                </div>
                <div class="vehicle-count">
                    <div class="label-div">No. of vehicles</div>
                    {%for field in vehicle_count%}
                        <div class="form-group">
                            {{field}}
                            <label for="{{field.auto_id}}">{{field.label}}</label>
                            <div class = "input-msg">This field is required</div>
                        </div>  
                    {%endfor%}
                </div>
                
            </div>

        </div>
    
    
        <button id="submit-btn" class="form-button add" type="button">Submit</button>
    </form>
    

</div>

    

{%endblock%}

{%block scripts%}
    
    
{%endblock%}
